.DS_Store
build.properties
l10n/locale/bundles

resources/potlatch2.swf
resources/*.cache
resources/generated

/tests/bin/
/tests/report/

/generated

bin/
obj/

Potlatch*.air
Potlatch*.zip
Potlatch.app
build.sh
